.color {
  border: 1px solid black;
  width: 40px;
  height: 40px;
  display: inline-block;

}

#top {
  text-align: center;
}

#color-palette {
  display: inline-block;
}

#pixel-board {
  position: fixed;
  margin-left: 44%;
  top: 230px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  justify-items: center;
  justify-content: center;
}

.pixel {
  position: relative;
  align-content: center;
  justify-content: center;
  background-color: white;
  display: inline-block;
  border: 1px solid black;
  width: 40px;
  height: 40px;
}

#input {
  display: inline;
  align-items: center;
  justify-content: center;
  justify-items: center;
}

#generate-board {
  display: inline-block;
  position: fixed;

}

#board-size {
  display: inline-block;

}
