.color {
  border: 1px solid black;
  width: 40px;
  height: 40px;
  display: inline-block;

}

#top {
  text-align: center;
}

#color-palette {
  display: inline-block;
}

#color-1 {
  background-color: black;
}

#color-2 {
  background-color: red;
}

#color-3 {
  background-color: blue;
}

#color-4 {
  background-color: green;
}

#pixel-board {
  position: absolute;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  justify-items: center;
  justify-content: center;
}

.pixel {
  background-color: white;
  display: inline-block;
  border: 1px solid black;
  width: 40px;
  height: 40px;
}
